/********************************
******************
******************
***************
    Colores de fondo para los componentes
*/

.fd-rojo {
    background-color: $fd-rojo !important;
}

.fd-rojo-c {
    background-color: $fd-rojo-c !important;;
}

.fd-rojo-o {
    background-color: $fd-rojo-o !important;;
}

.fd-rojo-t {
    background-color: $fd-rojo-t !important;;
}

.fd-rojo-an {
    background-color: $fd-rojo-an !important;
}

.fd-rojo-ro {
    background-color: $fd-rojo-ro !important;
}

.fd-azul {
    background-color: $fd-azul !important;
}

.fd-azul-c {
    background-color: $fd-azul-c !important;
}

.fd-azul-o{
    background-color: $fd-azul-o !important;
}

.fd-azul-ve {
    background-color: $fd-azul-ve !important;
}

.fd-azul-ve-s {
    background-color: $fd-azul-ve-s !important;
}

.fd-azul-ve-c {
    background-color: $fd-azul-ve-c !important;
}

.fd-azul-t {
    background-color: $fd-azul-t !important;
}

.fd-azul-vi {
    background-color: $fd-azul-vi !important;
}

.fd-verde {
    background-color: $fd-verde !important;
}
.fd-verde-c {
    background-color: $fd-verde-c !important;
}

.fd-verde-o {
    background-color: $fd-verde-o !important;
}

.fd-verde-t {
    background-color: $fd-verde-t !important;
}
.fd-verde-az {
    background-color: $fd-verde-az !important;
}

.fd-verde-am {
    background-color: $fd-verde-am !important;
}

.fd-gris {
    background-color: $fd-gris !important;
}
.fd-gris-c {
    background-color: $fd-gris-c !important;
}

.fd-gris-o {
    background-color: $fd-gris-o !important;
}

.fd-gris-t {
    background-color: $fd-gris-t !important;
}
.fd-gris-az {
    background-color: $fd-gris-az !important;
}

.fd-gris-az-c {
    background-color: $fd-gris-az-c !important ;
}

.fd-gris-az-o {
    background-color: $fd-gris-az-o !important;
}

.fd-gris-n {
    background-color: $fd-gris-n !important;
}

.fd-blanco {
    background-color: $blanco !important;
}

.fd-negro {
    background-color: $negro !important;
}

.fd-violeta {
    background-color: $fd-violeta !important;
}

.fd-violeta-c {
    background-color: $fd-violeta-c !important;
}

.fd-violeta-o {
    background-color: $fd-violeta-o !important;
}

.fd-violeta-t {
    background-color: $fd-violeta-t !important;
}

.fd-violeta-az {
    background-color: $fd-violeta-az !important;
}

.fd-violeta-ro {
    background-color: $fd-violeta-ro !important;
}

.fd-naranja {
    background-color: $fd-naranja !important;
}

.fd-naranja-o {
    background-color: $fd-naranja-o !important;
}

.fd-naranja-c {
    background-color: $fd-naranja-c !important;
}

.fd-naranja-t {
    background-color: $fd-naranja-t !important;
}

.fd-naranja-ro {
    background-color: $fd-naranja-ro !important;
}

.fd-naranja-am {
    background-color: $fd-naranja-am !important;
}


.fd-amarillo {
    background-color: $fd-amarillo !important;
}

.fd-amarillo-c {
    background-color: $fd-amarillo-c !important;
}

.fd-amarillo-o {
    background-color: $fd-amarillo-o !important;
}

.fd-amarillo-t {
    background-color: $fd-amarillo-t !important;
}

.fd-amarillo-ve{
    background-color: $fd-amarillo-ve !important;
}

.fd-amarillo-ro {
    background-color: $fd-amarillo-ro !important;
}


.fd-trasparente {
    background-color: transparent !important;
}


.fd-negro-trasp {
    background-color: rgba(0, 0, 0, 0.075) !important;
}

.fd-facebook {
    background-color: #3b5998 !important;
}

.fd-youtube {
    background-color: #bb0000 !important;
}

.fd-twiter {
    background-color: #55acee !important;
}


.fd-linkedin {
    background-color: #007bb5 !important;
}

.fd-instagram {
    background-color: #125688 !important;
}

.fd-pinterest {
    background-color: #cb2027 !important;
}

.fd-tumblr {
    background-color: #32506d !important;
}

.fd-imgur {
    background-color: #32506d !important;
}

.fd-telegram {
    background-color: #32506d !important;
}

.fd-flickr {
    background-color: #ff0084 !important;
}

.fd-vimeo {
    background-color: #aad450 !important;
}

.fd-whatsapp {
    background-color: #4dc247 !important;
}


.fd-soundcloud {
    background-color: #fffc00 !important;
}


.fd-snapchat {
    background-color: #fffc00 !important;
}

.fd-periscope {
    background-color: #35A3C6 !important;
}

.fd-tinder {
    background-color: #E34514 !important;
}
