
@mixin menu-general {
    @include flex-box-centrado();
    padding: 0 20px;
    width: 100%;
    background-color: $fd-azul-ve;
    min-height: 3.5em;
    z-index: superposicion(ms); // altura menu superior ms
}


@mixin menu-lista {
    @include flex-box-centrado-izquierda();
    width: 80%;
    
    li {
        a {
            display: block;
            padding: 1em 1.3em;
            color: white;
            cursor: pointer;
            font-size: 1.2em;
            &.desactivado {
                color: rgba(117, 117, 117);
                &:hover {
                    background-color: transparent !important;
                }
            }
            &:hover {
                background-color: rgba(0, 0, 0, 0.445);
            }
        }
        
    }
}

@mixin  menu-ext {
    background-color: white;
    display: block;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.212);
    
    ul {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        li {
            min-width:100px ;
            a {
                display: flex;
                flex-direction: column;
                color: rgb(78, 78, 78);
                text-align: center;
                padding: 10px 0;
                &:hover {
                    color: black;
                }

                & span:first-child {
                    font-size: 30px;
                    margin-bottom: 7px;
                }
                & span:last-child {
                    font-size: 1em;
                }
            }
        }
    }
}


@mixin menu-lateral-boton() {
    display: flex;
    flex-direction: column;
    padding: 6.7px;
    align-items: flex-end;
    span {
        @include ancho-alto(18px, 2px);
        margin-bottom: 3px;
        background-color: white;
    }
    width: 80%;
    color: white;
    
    @include agregar-a-medida-minima(m){
        display: none !important;
    }
    z-index: 100000000;
}

@mixin menu-logo {
    @include flex-box-centrado();
    width: 10%;
    font-size: 1.2em;
    font-weight: 600;
    margin: auto;
    color: white;
}

.menu {
    @include menu-general();
    font-family: "HelveticaNeue", "Roboto", Helvetica, sans-serif;
    .menu-logo {
        @include menu-logo();
    }

    .lateral-boton {
        @include menu-lateral-boton();
        
    }

    .lista {
        @include menu-lista();
    }

    .borde-seleccionado {
        position: absolute;
        width: 100%;
        height: 4px;
        bottom: 0;
        left: 0;
        background-color: $fd-azul-c;

    }

    .contenedor {
        display: flex;
    }
}

.menu-fixed {
    @include posicionamiento-fixed(0,0,null, 0);
}

.menu-ext {
    @include menu-ext();
}

.colapso {
    display: none;
    opacity: 0;
}

.selector-colapso{
    position: relative;
    overflow: hidden;
}