.select-modificado {
    appearance: none;
    border-radius: 3px;
    height: 2.1em;
    border: 1px solid rgba(0, 0, 0, 0.171);
    background-color: white;
    position: relative;

    .listado {
        position: absolute;
        li {
            display: block;
            width: 100%;
            padding: 5px;
            color: black;
        }
    }
}